
<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">Admin Features</ion-title>
      </div>
      <div class="btn">  
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

 

  <ion-row *ngIf="uData.allowadminfeatures=='1'">
    <ion-col size="4" *ngFor="let item of uData.appadminfeatures">      
      <div *ngIf="item.estatus==1" class="main_div" (click)="fnprocessadminfeatures(item.feaflag)" >
        <div class="sub_div">
          <ion-buttons>
            <ion-button color="success">
              <ion-icon name="person-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-label>{{ item.featurename }}</ion-label>
        </div>
      </div>
    </ion-col>   
  </ion-row>
  <div *ngIf="guest_note">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Admin Note</ion-card-title>
        <!-- <ion-card-subtitle>End Date: {{guest_note}}</ion-card-subtitle> -->
      </ion-card-header>  
      <ion-card-content>
      {{guest_note}}
      </ion-card-content>
    </ion-card> 
  </div>
  <div *ngIf="classpackflag == 1">
    <!-- <p>Active Subscription Details for {{ studentName  }} ({{ scanEmail }})</p> -->
    <ion-card *ngIf="classpack">
      <ion-card-header>
        <ion-card-title>{{classpack.email}}</ion-card-title>
        <ion-card-subtitle *ngIf="classpack.remain_class">Title: {{classpack.name}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="classpack.description">Description: {{classpack.description}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="classpack.created_at">Date of Purchase: {{classpack.created_at}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="classpack.dateoflclass">Date: {{classpack.dateoflclass}}</ion-card-subtitle>
      </ion-card-header>  
      <ion-card-content *ngIf="classpack.remain_class">
        Classes Remaining: {{classpack.remain_class}} 

      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="classpackflag == 1">
     <p>History</p>
    <ion-card *ngFor="let item of classpackhistory">
      <ion-card-header>
        <ion-card-title>{{item.class_date}}</ion-card-title>
       </ion-card-header>  
    </ion-card>
  </div>
  <div *ngIf="showscaninfo == 1"> 

    <div class="scandata" *ngIf="activesbscount > 0">
      <p>Active Subscription Details for {{ studentName  }} ({{ scanEmail }})</p>
      <ion-card *ngFor="let item of subscriptionplans">
        <ion-card-header>
          <ion-card-title>Subscription Name: {{item.stitle}}</ion-card-title>
          <ion-card-subtitle>End Date: {{item.subenddate}}</ion-card-subtitle>
        </ion-card-header>  
        <ion-card-content>
        Next Renewal Date: {{item.subenddate}}
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Total number of classes attended this week: {{ attendedclass }}</ion-card-title>
        </ion-card-header>  
       
      </ion-card>
    </div>
  
    <div class="scandata" *ngIf="activesbscount <= 0">
      <p>Sorry! No Active Subscription Details for {{ studentName  }} ({{ scanEmail }})</p>  
    </div>
</div>
<div class="scandata" *ngIf="bookedguestpasslist">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Guest pass</ion-card-title>
      <ion-card-subtitle>Date: {{bookedguestpasslist.slot}}</ion-card-subtitle>
    </ion-card-header>  
   
    <ion-item>
      <ion-checkbox slot="start" (ionChange)="fnOnchangeinput($event,0,bookedguestpasslist.id,'guestpassbooking')" [checked]="bookedguestpasslist.attendclass == '1'"></ion-checkbox>
      <ion-label>Attended this Class</ion-label>
    </ion-item>
  </ion-card>
</div>
<div class="scandata" *ngIf="classlist">
 
  <ion-card *ngFor="let item of classlist">
    <ion-card-header>
      <ion-card-title>{{item.stdatetext}}</ion-card-title>
      <ion-card-subtitle>{{item.locationtext}}, Tutor(s): {{item.tutortext}}</ion-card-subtitle>
    </ion-card-header>  
   
    <ion-item>
      <ion-checkbox slot="start" (ionChange)="fnOnchangeinput($event,item.recid,item.id,'coursebooking')" [checked]="item.attendclass == '1'"></ion-checkbox>
      <ion-label>Attended this Class</ion-label>
    </ion-item>
  </ion-card>
</div>

<div class="scandata" *ngIf="eventslist">
  <ion-card *ngFor="let item of eventslist">
    <ion-card-header>
      <ion-card-title>{{item.stdatetext}}</ion-card-title>
      <ion-card-subtitle>{{item.locationtext}}, Tutor(s): {{item.tutortext}}</ion-card-subtitle>
    </ion-card-header>  
   
    <ion-item>
      <ion-checkbox slot="start" (ionChange)="fnOnchangeinput($event,item.recid,item.id,'eventbooking')" [checked]="item.attendclass == '1'"></ion-checkbox>
      <ion-label>Attended this Class</ion-label>
    </ion-item>
  </ion-card>
</div>
<div *ngIf="bookedclasslist || bookedeventslist">
<h5>Weekend purchased items</h5>
</div>
<div class="scandata" *ngIf="bookedclasslist">
<ion-card *ngFor="let item of bookedclasslist">
  <ion-card-header>
    <ion-card-title>{{item.coursename}} - {{item.stdatetext}}</ion-card-title>
    <ion-card-subtitle>Location: {{item.locationtext}}, Time: {{item.class_start_time}} - {{item.class_end_time}}</ion-card-subtitle>
  </ion-card-header>  
</ion-card>
</div>
<div class="scandata" *ngIf="bookedeventslist">
  <ion-card *ngFor="let item of bookedeventslist">
    <ion-card-header>
      <ion-card-title>{{item.event_title}} - {{item.stdatetext}}</ion-card-title>
      <ion-card-subtitle>Location: {{item.locationtext}}</ion-card-subtitle>
    </ion-card-header>  
  </ion-card>
  </div>
  <div class="scandata" *ngIf="bookedworkshoplist">
    <ion-card *ngFor="let item of bookedworkshoplist">
      <ion-card-header>
        <ion-card-title>{{item.workshop_title}} - {{item.stdatetext}}</ion-card-title>
        <ion-card-subtitle>Location: {{item.locationtext}}</ion-card-subtitle>
      </ion-card-header>  
    </ion-card>
    </div>
</ion-content>