ion-header {
  ion-toolbar {
    --background: #f3f3f3; 

    .heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 5px;

      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        .bg_img {
          height: 80px;
          width: 80px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        ion-label {
          font-family: 'bold';
          margin-left: 10px;
        }
      }

      .btn {
        display: flex;
        flex-direction: row;
        align-items: center;

        ion-buttons {
          ion-button {
            border-radius: 100px;
            height: 35px;
            width: 35px;
            background: #c33131;

            ion-icon {
              color: white;
            }
          }

          ion-menu-button {
            border-radius: 100px;
            height: 35px;
            width: 35px;
            background: #c33131;
            color: white;            
          }
        }
      }
    }

    .searchbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: #c33131 !important;
      color: #ffffff !important;

      ion-searchbar {
        padding: 0px;
        margin: 0px 10px;
      }
    }
  }
}
.main_title {
  height: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

  .heading {
    font-family: "bold";
  }
}

.h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'bold';
  margin-bottom: 20px;
}

ion-item {
  --background: white;
  border-radius: 100px;
  border: 1px solid var(--ion-color-medium);
  margin: 10px 0px;
}

.title {
  margin: 10px 0px 10px 20px;
}

.btn {
  display: flex;
  justify-content: center;
  --color: var(--ion-color-primary);
}

.contentbtn {
  margin-top: 50px;
}

.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;

  .heading {
    font-family: "bold";
  }

  .sub_heading {
    margin-top: 0px;
  }

  span {
    margin-left: 10px;
    color: var(--ion-color-primary);
  }
}
.erros_reg{
  color:#ff0000;
}
.spin{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}
ion-icon{
  background-color: #ffffff;
  color: var(--ion-color-primary);
}

.dob_section{
  display: inline-flex;
}
