<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">Tango Community</ion-title>
      </div>
      <div class="btn">          
      </div>
    </div>   
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">   

  <div *ngIf="accRegistered == true">
    <p>Thank you! You have has been registered successfully. Please click login button to login to the APP</p>
    <ion-button class="content_button" (click)="onLogin()" expand="block"> Login</ion-button>
  </div>  


  <div *ngIf="accRegistered == false">
  <div class="spin" *ngIf="isLoading == true">
    <ion-spinner  color="primary"></ion-spinner> 
  </div>  

  <div *ngIf="isLoading == false">

  <div class="main_title" >
    <ion-label class="heading">Let's Start With Your Basic Details!</ion-label>
  </div>
  <ion-label class="title">Tango Community</ion-label>
  <ion-item lines="none">
    <ion-select placeholder="Select Tango Community" id="tangoCommunity" name="tangoCommunity" (ionChange)="fnOnchangeinput($event)" [(ngModel)]="userData.tangoCommunity">
      <ion-select-option value="{{cData.partner_id}}"  *ngFor="let cData of arrTangoCommunity">{{cData.partner_name}}</ion-select-option> 
     </ion-select>
</ion-item>
<p class="erros_reg" id="etangoCommunity"></p>		
<ion-label class="title">Entry Level</ion-label>
  <ion-item lines="none">
    <ion-select placeholder="Select Tango Entry Level" id="entryLevel" name="entryLevel" (ionChange)="fnOnchangeinput($event)" [(ngModel)]="userData.entryLevel">
      <ion-select-option value="{{cData.category_name}}" *ngFor="let cData of arrUserCategory">{{cData.category_name}}</ion-select-option> 
     </ion-select>
</ion-item>

<p class="erros_reg" id="eentryLevel"></p>	
  <ion-label class="title">First Name</ion-label>
  <ion-item lines="none">
    <ion-input type="text" placeholder="Your First Name" (ionChange)="fnOnchangeinput($event)" id="firstname" name="firstname" ></ion-input>
  </ion-item>
  <p class="erros_reg" id="efirstname"></p>	
  <ion-label class="title">Last Name</ion-label>
  <ion-item lines="none">
    <ion-input type="text" placeholder="Your Last Name" (ionChange)="fnOnchangeinput($event)" id="lastname" name="lastname"></ion-input>
  </ion-item>
  <p class="erros_reg" id="elastname"></p>	
  <ion-label class="title">Phone</ion-label>
  <ion-item lines="none">
    <ion-input type="number" placeholder="Your Phone Number" (ionChange)="fnOnchangeinput($event)" id="userphoneno" name="userphoneno"></ion-input>
  </ion-item>
  <p class="erros_reg" id="euserphoneno"></p>	
  <ion-label class="title">Email</ion-label>
  <ion-item lines="none">
    <ion-input type="text" placeholder="Your Email Address" (ionChange)="fnOnchangeinput($event)" id="useremail" name="useremail"></ion-input>
  </ion-item>
  <p class="erros_reg" id="dob_month"></p>
  <p>Date of birth (please fill in to get special offers to celebrate your birthday)</p>	
  <div class="dob_section">
    <div>
      <ion-label class="title">Day</ion-label>
      <ion-item lines="none">
        <ion-input type="text" placeholder="" (ionChange)="fnOnchangeinput($event)" id="dob_day" name="dob_day"></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-label class="title">Month</ion-label>
      <ion-item lines="none">
        <ion-select placeholder="Select Month" id="dob_month" name="dob_month" (ionChange)="fnOnchangeinput($event)" [(ngModel)]="userData.dob_month">
          <ion-select-option  *ngFor="let cData of arrDobmonth;index as i" value="{{i}}">{{cData}}</ion-select-option> 
        </ion-select>
      </ion-item>
    </div>
    
  </div>
  <p class="erros_reg" id="euseremail"></p>	
  <ion-label class="title">City</ion-label>
  <ion-item lines="none">
    <ion-input type="text" placeholder="Your City" (ionChange)="fnOnchangeinput($event)" id="usercity" name="usercity"></ion-input>
  </ion-item>
  <p class="erros_reg" id="eusercity"></p>	
  <ion-label class="title">Country</ion-label>
  <ion-item lines="none">
    <ion-select placeholder="Select Country" id="usercountry" name="usercountry" (ionChange)="fnOnchangeinput($event)" [(ngModel)]="userData.usercountry">
      <ion-select-option value="{{cData.country_2_code}}" *ngFor="let cData of arrCountrylist">{{cData.name}}</ion-select-option> 
     </ion-select>
</ion-item>
<p class="erros_reg" id="eusercountry"></p>	
  <ion-label class="title">Password</ion-label>
  <ion-item lines="none">
    <ion-input [type]="isTextFieldType ? 'text' : 'password'" id="userpassword" name="userpassword" placeholder="Password" (ionChange)="fnOnchangeinput($event)"></ion-input>
        <button (click)="togglemyPasswordFieldType()" ion-buttonitem-right >
          <ion-icon [name]="isTextFieldType ? 'eye-off' : 'eye'">
          </ion-icon>
        </button>  
  </ion-item>
  <p class="erros_reg" id="euserpassword"></p>	 
  <ion-label class="title">How did you hear about us?</ion-label>
  <ion-item lines="none" class="ion-text-wrap">
    <ion-select placeholder="Select" class="ion-text-wrap" id="hear_about"  name="hear_about" (ionChange)="fnOnchangeinput($event)" [(ngModel)]="userData.hear_about">
      <ion-select-option  value="{{cData.id}}" *ngFor="let cData of arrReferalSource">{{cData.hear_name}}</ion-select-option> 
     </ion-select>
</ion-item>
<p class="erros_reg" id="ehear_about"></p>	
  <ion-item>
    <ion-checkbox slot="start"  [(ngModel)]="userData.unewsletter" (ionChange)="fnOnchangeinput($event)"></ion-checkbox>
    <ion-label>Newsletter Subscription</ion-label>
  </ion-item>
</div>
</div>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="accRegistered == false">
  <ion-toolbar>
    <ion-button class="content_button" (click)="fnOnSave()" expand="block">
      SignUp
    </ion-button>
  </ion-toolbar>
</ion-footer>
