<ion-header mode="md" class="ion-no-border" *ngIf="current != 3">
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">Forgot Password</ion-title>
      </div>
      <div class="btn">          
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-header mode="md" class="ion-no-border" *ngIf="current == 3">
  <ion-toolbar>   
    <div class="heading">
      <div class="logo">
        <div class="bg_img" [style.backgroundImage]="'url(assets/images/ta_logo.png)'"></div>        
      </div>

      <div class="btn">             
        <ion-buttons>
          <ion-button>
            <ion-icon name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="main_div" *ngIf="current == 1">
    <div class="info">

      <div class="lbl">
        <ion-label>Please enter your email address.</ion-label>
      </div>

      <ion-label class="title">Email</ion-label>
      <ion-item lines="none">
        <ion-input type="email" placeholder="Enter email address." id="femail" value="{{userdata.femail}}" (ionChange)="fnOnchangeinput($event)"></ion-input>
      </ion-item>
      <p class="erros_reg" id="efemail"></p>
      <p class="erros_reg" id="ovrerror_2"></p>  
      <ion-button class="content_button" (click)="fnsavereqotpform()" expand="block">
        Continue
      </ion-button>
    </div>
  </div>

  <div class="main_div" *ngIf="current == 2">
    <div class="info">

      <div class="lbl">
        <p>Reset Password Code sent to your email ( {{userdata.femail}}) address.</p>
      </div>

      <ion-label>Enter Password Code</ion-label>
      <ion-item lines="none">
        <ion-input type="text" placeholder="Enter Reset Password Code." id="fcode" value="{{userdata.frestcode}}" (ionChange)="fnOnchangeinput2($event)"></ion-input>
      </ion-item>
      <p class="erros_reg" id="efcode"></p>
      <ion-label class="title">Password</ion-label>
      <ion-item lines="none">
        <ion-input type="password" placeholder="Enter New password." id="fnewpassword" value="{{userdata.fnewpassword}}" (ionChange)="fnOnchangeinput2($event)"></ion-input>
      </ion-item>
      <p class="erros_reg" id="efnewpassword"></p>
      <ion-label class="title">Confirm Password</ion-label>
      <ion-item lines="none">
        <ion-input type="password" placeholder="Enter Confirm password." id="fcnfmpassword" value="{{userdata.fcnfmpassword}}" (ionChange)="fnOnchangeinput2($event)"></ion-input>
      </ion-item>
      <p class="erros_reg" id="efcnfmpassword"></p>
      <p class="erros_reg" id="ovrerror_1"></p>    
      <ion-button class="content_button" (click)="fnvalidateresetcode()" expand="block">
        Continue
      </ion-button>
      <div class="btn">
        <p>Not Received Code?</p>
        <ion-buttons slot="end">
          <ion-button (click)="fnresentemailcode()">
            Resend Code
          </ion-button>
        </ion-buttons>
      </div>

    </div>
  </div>

  <div class="main_div" *ngIf="current == 3">
    <div class="info">
      <div class="lbl">
        <ion-label>Your password reset successfuly. Please login with new password</ion-label>
      </div>      
      <ion-button class="content_button" (click)="redirectologin()" expand="block">
        Login
      </ion-button>
    </div>
  </div>

</ion-content>
