<ion-header>
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="backToBasket()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">User Details</ion-title>
      </div>
      <div class="btn">
        <ion-buttons slot="start" (click)="gotonotifications()">
          <div class="carticon"><ion-icon name="notifications-outline" ></ion-icon> 
            <ion-badge color="danger" *ngIf="ncsCount">{{ncsCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start" (click)="gotocart()">
          <div class="carticon"><ion-icon name="cart" ></ion-icon> 
            <ion-badge color="danger" *ngIf="cartCount">{{cartCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div class="spin" *ngIf="dataLoadFlag == false">
      <ion-spinner  color="primary"></ion-spinner> 
    </div>  

  <div *ngIf="dataLoadFlag == true">

  <div class="third_content" *ngIf="bilEditFlag == true">    
    <ion-row>
      <ion-col size="12">
        <div class="content">         
          <div class="sub_content">
            <ion-label>Billing Details</ion-label>
            <div class="item">
              <p>{{userdata.ufirstname}} {{userdata.ulastname}}</p>             
            </div>
            <ion-label class="title">Address 1<span class="starred">*</span></ion-label>
              <ion-item>
                <ion-textarea placeholder="Address 1" id="uaddress1" name="uaddress1" (ionChange)="fnOnchangeinput($event)" value="{{userdata.uaddress1}}" ></ion-textarea>
              </ion-item>
              <p class="erros_reg" id="euaddress1"></p>	
              <ion-label class="title">Address 2</ion-label>
              <ion-item>
                <ion-textarea placeholder="Address 2" id="uaddress2" name="uaddress2" (ionChange)="fnOnchangeinput($event)" value="{{userdata.uaddress2}}" ></ion-textarea>
              </ion-item>
              <ion-label class="title">City<span class="starred">*</span></ion-label>
              <ion-item lines="none">
                <ion-input type="text" placeholder="Your city" id="ucity" name="ucity" (ionChange)="fnOnchangeinput($event)" value="{{userdata.ucity}}" ></ion-input>
              </ion-item>
              <p class="erros_reg" id="eucity"></p>	
              <ion-label class="title">Post code<span class="starred">*</span></ion-label>
              <ion-item lines="none">
                <ion-input type="text" placeholder="Your Post code" id="upostcode" name="upostcode" (ionChange)="fnOnchangeinput($event)" value="{{userdata.upostcode}}" ></ion-input>
              </ion-item>
              <p class="erros_reg" id="eupostcode"></p>	
              <ion-label class="title">Country<span class="starred">*</span></ion-label>
              <ion-item lines="none">
                <ion-select placeholder="Select Country" id="ucountry" name="ucountry" [(ngModel)]="userdata.ucountry">    
                  <ion-select-option value="{{cData.country_2_code}}" *ngFor="let cData of arrCountrylist">{{cData.name}}</ion-select-option>                    
                </ion-select>
            </ion-item>
            <p class="erros_reg" id="eucountry"></p>	

          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="third_content"  *ngIf="bilEditFlag != true">
    <ion-row>
      <ion-col size="12">
        <div class="content">         
          <div class="sub_content">

            <ion-label>Billing Details</ion-label>
            <div class="item">
              <p>{{userdata.ufirstname}} {{userdata.ulastname}}</p>
              <p>{{userdata.uaddress1}} {{userdata.uaddress2}}</p>
              <p>{{userdata.ucity}} {{userdata.upostcode}}</p>
            </div>
            <ion-buttons>
              <ion-button (click)="onEditBillingDetails()" color="light">
                <ion-icon name="pencil-outline"></ion-icon> Edit
              </ion-button>
            </ion-buttons>

          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div class="third_content" *ngIf="cartTotalAmount > 0">
    <ion-row>
      <ion-col size="12">
        <div class="content">         
          <div class="sub_content">

  <div class="stripe-card" ngxStripeCardGroup [elementsOptions]="elementsOptions">
    <h4>Enter payment details</h4>  
    <div class="stripe-element">
      <ngx-stripe-card-number
        [options]="cardOptions"       
      ></ngx-stripe-card-number>
    </div>
    <div fxLayout="row" fxLayoutGap="10px">
      <div class="w-full stripe-element">
        <ngx-stripe-card-expiry
          [options]="cardOptions"
        ></ngx-stripe-card-expiry>
      </div>
      <div class="w-full stripe-element">
        <ngx-stripe-card-cvc
          [options]="cardOptions"
        ></ngx-stripe-card-cvc>
      </div>
    </div>    
  </div> 
</div>
</div>
</ion-col>
</ion-row>
</div>
</div>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="cartCount > 0">
  <div class="bgprice">
    <ion-label class="pricetag" [innerHTML]=" 'Total Amount:' + partnerDetails.currency_symbol + cartTotalAmount"></ion-label>
  </div>
  <ion-toolbar>
    <ion-button class="footbtn" slot="start" size="default" (click)="backToBasket()">Basket</ion-button>
    <ion-button class="footbtngreen" slot="end" size="default" *ngIf="cartTotalAmount > 0" (click)="onPaymentProcessStripe()">Payment</ion-button>
    <ion-button class="footbtngreen" slot="end" size="default" *ngIf="cartTotalAmount <= 0" (click)="onProcessFreePayment()">Proceed</ion-button>
  </ion-toolbar>
</ion-footer>


