<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <div class="logo">
        <div class="bg_img" [style.backgroundImage]='"url(\"" + appLogoPath + "\")"'></div>
      </div>

      <div class="btn">
        <ion-buttons slot="start" (click)="gotonotifications()">
          <div class="carticon"><ion-icon name="notifications-outline" ></ion-icon> 
            <ion-badge color="danger" *ngIf="ncsCount">{{ncsCount}}</ion-badge>
          </div>
         </ion-buttons>  
        <ion-buttons slot="start" (click)="gotocart()">
          <div class="carticon"><ion-icon name="cart" ></ion-icon> 
            <ion-badge color="danger" *ngIf="cartCount">{{cartCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="main-content">
    <div class="pro" *ngIf="rehis == 1">
      <ion-list>
        <ion-item>
          <ion-label class="title">Enable Partner Search</ion-label>
          <ion-toggle [checked]="userdata.part_search == 1" [enableOnOffLabels]="true" (ionChange)="fnOnchangecheckbox($event)" id="part_search" name="part_search"></ion-toggle>
        </ion-item>
        <br>
      </ion-list>
      <div *ngIf="part_section == 1">
      <p class="erros_reg" id="euprofile"></p>
      <ion-label class="title">Profile</ion-label>
      <div *ngIf="userdata.profile_url !== ''">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="{{userdata.profile_url}}" />
      </ion-thumbnail>
    </div>
      <ion-item>
        <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
      </ion-item>
      <p class="erros_reg" id="euexperience"></p>
      <ion-label class="title">Experience of Tango</ion-label>
      <ion-item lines="none">
        <ion-input type="text" value="{{userdata.experience}}" placeholder="" (ionChange)="fnOnchangeinput($event)" id="experience" name="experience" ></ion-input>
      </ion-item>
      <p class="erros_reg" id="euthoughts"></p>
      <ion-label class="title">Thoughts about Tango</ion-label>
      <ion-item lines="none">
        <ion-textarea type="text" value="{{userdata.thoughts}}" placeholder="" (ionChange)="fnOnchangeinput($event)" id="thoughts" name="thoughts" ></ion-textarea>
      </ion-item>
      <p class="erros_reg" id="euideal"></p>
      <ion-label class="title">Describe your ideal Tango Partner</ion-label>
      <ion-item lines="none">
        <ion-textarea type="text" value="{{userdata.ideal}}" placeholder="" (ionChange)="fnOnchangeinput($event)" id="ideal" name="ideal" ></ion-textarea>
      </ion-item>
      <p class="erros_reg" id="eureason"></p>
      <ion-label class="title">What would you like to work with your partner? </ion-label>
      <ion-item lines="none">
        <ion-select placeholder="-- Select --" id="reason" name="reason" (ionChange)="fnOnchangeinput($event)" value="{{userdata.reason}}">
          <ion-select-option  *ngFor="let cData of arrDobmonth;index as i" value="{{i+1}}">{{cData}}</ion-select-option> 
        </ion-select>
      </ion-item>
      <p class="erros_reg" id="euother_reason"></p>
      <div *ngIf="userdata.reason == 7">
      <ion-label class="title">Please specify</ion-label>
      <ion-item lines="none">
        <ion-input type="text" value="{{userdata.reason_other}}" placeholder="" (ionChange)="fnOnchangeinput($event)" id="reason_other" name="reason_other" ></ion-input>
      </ion-item>
    </div>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <ion-button class="content_button" (click)="onSave()" expand="block">
            Submit
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </div>
    </div>  
    <div class="partners" *ngIf="resubs == 1">
      <div class="bg_img"></div>
    
      <ion-card *ngFor="let item of arrUserpartners; index as i;">
        <ion-card-header>
          <ion-item>
            <img
            width="100%"
            src="{{item.profile_url}}"
          />
            <!-- <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="{{item.profile_url}}" />
            </ion-thumbnail> -->
            
          
          </ion-item>
          <ion-card-title>{{item.firstname}} {{item.lastname}}</ion-card-title>
          <ion-card-subtitle>Experience of Tango: {{item.experience}} years</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <ion-button color="success" fill="outline" size="small" class="content_button" (click)="onLoadEvents(item,1)">Interested</ion-button>
          <ion-button fill="outline" size="small" class="content_button" (click)="onLoadEvents(item,0)">Not Interested</ion-button>
        </ion-card-content>
        <ion-row>           
          <ion-col class="view_btn">
            <ion-button class="content_button" (click)="goToModel(item)">View Full Profile</ion-button>
            </ion-col>
        </ion-row>     
      </ion-card>
     <div *ngIf="arrUserpartners.length == 0">
        <p>Sorry, there are no Tango Partners at the moment. Please check back later.</p>
      </div>  
     
    </div>
    <div class="matched_partners" *ngIf="cansubs == 1">
      <ion-card *ngFor="let item of arrUsermatchedpartners; index as i;">
        <ion-card-header>
          <ion-item>
           
              <img
                width="100%"
                src="{{item.profile_url}}"
              />
<!--             
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="{{item.profile_url}}" />
            </ion-thumbnail> -->
           
          </ion-item>
          <ion-card-title>{{item.firstname}} {{item.lastname}}</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <p>Experience of Tango: {{item.experience}} years</p>
          <p>Email: {{item.email}}</p>
          <p *ngIf="item.phone">Phone: {{item.phone}}</p>
        </ion-card-content>
      </ion-card>
      <div *ngIf="arrUsermatchedpartners.length == 0">
        <p>You will see your matched partners list here after you have a match.</p>
      </div>  
      
    </div>  
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="btn">
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="gotoprofile()">
          <ion-icon name="storefront" ></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>    
          
        <ion-tab-button (click)="gotopartner()" *ngIf="part_section == 1">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Partners</ion-label>
        </ion-tab-button>
       
        <ion-tab-button (click)="gotomatched()" *ngIf="part_section == 1">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Matched Partners</ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button (click)="togosubscriptions()">
          <ion-icon name="document-text"></ion-icon>
          <ion-label>Subscriptions</ion-label>
        </ion-tab-button> -->
      
      </ion-tab-bar>
    </div>
  </ion-toolbar>
</ion-footer>
