<ion-header>
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">{{ cpagedata.page_title }}</ion-title>
      </div>
      <div class="btn">  
        <ion-buttons slot="start" (click)="gotonotifications()">
          <div class="carticon"><ion-icon name="notifications-outline" ></ion-icon> 
            <ion-badge color="danger" *ngIf="ncsCount">{{ncsCount}}</ion-badge>
          </div>
         </ion-buttons> 
        <ion-buttons slot="start" (click)="gotocart()">
          <div class="carticon"><ion-icon name="cart" ></ion-icon> 
            <ion-badge color="danger" *ngIf="cartCount">{{cartCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ittl2">
    <ion-label class="ttl1">{{ cpagedata.page_title }}</ion-label>  </div>
  <div [innerHTML]="cpagedata.page_content"></div>
  <div class="location">
    <ion-item button detail="false" *ngFor="let item of arrSubscriptonlist" >
      <ion-label class="ion-text-wrap">
        <h2><strong>{{ item.item_name }}</strong></h2>
        <p>{{ item.item_desc }}</p>
        <ion-row>
          <ion-col class="ion-text-wrap">
            <strong>Price:</strong> <ion-badge color="danger" [innerHTML]="partnerDetails.currency_symbol + item.item_price"></ion-badge> {{ item.item_plan_disp_text }} 
          </ion-col>             
        </ion-row> 
        <ion-row>           
          <ion-col class="ion-text-wrap">
            <ion-button class="content_button" (click)="goToModel(item)">Subscribe</ion-button>
            </ion-col>
        </ion-row>             
      </ion-label>
    </ion-item>   
  </div>
  
</ion-content>
