<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">View Subscription</ion-title>
      </div>
      <div class="btn"> 
        <ion-buttons slot="start" (click)="gotonotifications()">
          <div class="carticon"><ion-icon name="notifications-outline" ></ion-icon> 
            <ion-badge color="danger" *ngIf="ncsCount">{{ncsCount}}</ion-badge>
          </div>
         </ion-buttons> 
        <ion-buttons slot="start" (click)="gotocart()">
          <div class="carticon"><ion-icon name="cart" ></ion-icon> 
            <ion-badge color="danger" *ngIf="cartCount">{{cartCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<div *ngIf="arrOurclasses && rehis == 1">
<div class="bg_img" *ngFor="let item of arrOurclasses; index as i;">
  <ion-card>
    <ion-card-header>
    <ion-card-subtitle>{{i+1}}. {{item.disptext}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
   <p [innerHTML]="'<b>Paid Amount:</b> ' + partnerDetails.currency_symbol + item.paid_amount + ' | <b>Payment Source:</b> ' + item.payment_method + ' | <b>Paid Date:</b> ' + item.paiddate">
</p>
 </ion-card-content>
  </ion-card>
</div>
</div>   
<div *ngIf="subsplan && resubs == 1">
  <div class="bg_img">
    <ion-list>
      <ion-item id="open-modal2">
        <ion-label>Subscription Start Date</ion-label>
        <ion-note slot="end">{{substdate | date}}</ion-note>
      </ion-item>
      <ion-modal trigger="open-modal2" [cssClass]="'bottom-end'">
        <ng-template>
          <ion-datetime
            presentation="date"
            [(ngModel)]="substdate"
            [min]="minDate"
            size="cover"
            [showDefaultButtons]="true"
          ></ion-datetime>
        </ng-template> </ion-modal
    ></ion-list> 
    <ion-button class="contentbtn" expand="block" (click)="addToCart('subscription')">
      Proceed
    </ion-button>
  </div>
</div>
<div *ngIf="upsubs == 1">
  <div class="bg_img">
    <p>Please use the upgrade option if you would like to move to the next level in the middle of your existing Subscription.</p>
    <ion-list>
      <ion-item id="open-modal2">
        <ion-label>Subscription Start Date</ion-label>
        <ion-note slot="end">{{upsubstdate | date}}</ion-note>
      </ion-item>
      <ion-modal trigger="open-modal2" [cssClass]="'bottom-end'">
        <ng-template>
          <ion-datetime
            presentation="date"
            [(ngModel)]="upsubstdate"
            (ionChange)="fnOnchangeupgrade($event)"
            [min]="minDate"
            size="cover"
            [showDefaultButtons]="true"
          ></ion-datetime>
        </ng-template> </ion-modal
    ></ion-list> 
    <ion-label class="title">Subscription</ion-label>
    <ion-list>
      <ion-item>
        <ion-select label="Subscription" placeholder="Select Subscription" id="nsubsplanid" name="nsubsplanid" [(ngModel)]="nsubsplanid" (ionChange)="fnOnchangeupgrade($event)">
          <ion-select-option value="{{cData.id}}" *ngFor="let cData of SubsPlanslist">{{cData.subscription_title}} - £{{cData.subscription_price}}</ion-select-option>        
        </ion-select>
      </ion-item>
    </ion-list>
   
    <div [innerHTML]="upgrade_msg"></div>

    <ion-button class="contentbtn" expand="block" (click)="addToCart('upgradersubscription')">
      Proceed
    </ion-button>
  </div>
</div>

<div *ngIf="subsplan && cansubs == 1">
  <div class="bg_img">
    <div [innerHTML]="subsplan.cancel_popupinfo"></div>
    <div *ngIf="showpausepop == 1" class="pause_div">
      <p>Please choose the start date and end date for your pause period. Please note that you can pause your subscription a maximum of 2 times within a year. The minimum pause period is 1 week and the maximum pause period is 3 weeks. </p>
       <ion-list>
         <ion-item id="open-modal3">
           <ion-label>Pause Start Date</ion-label>
           <ion-note slot="end">{{pausestdate | date}}</ion-note>
         </ion-item>
         <ion-modal trigger="open-modal3" [cssClass]="'bottom-end'">
           <ng-template>
             <ion-datetime
             class="force-black-font"
               presentation="date"
               [(ngModel)]="pausestdate"
               [min]="minDate"
               size="cover"
               [showDefaultButtons]="true"
               preferWheel="false" 
             ></ion-datetime>
           </ng-template> </ion-modal
       ></ion-list> 
       <ion-list>
         <ion-item id="open-modal4">
           <ion-label>Pause End Date</ion-label>
           <ion-note slot="end">{{pauseetdate | date}}</ion-note>
         </ion-item>
         <ion-modal trigger="open-modal4" [cssClass]="'bottom-end'">
           <ng-template>
             <ion-datetime
             class="force-black-font"
               presentation="date"
               [(ngModel)]="pauseetdate"
               [min]="minDate"
               size="cover"
               [showDefaultButtons]="true"
               preferWheel="false"
             ></ion-datetime>
           </ng-template> </ion-modal
       ></ion-list> 
       <ion-label class="title"><b>Reason for pausing</b>  </ion-label>
       <ion-item lines="none">
         <ion-textarea type="text" placeholder="" (ionChange)="fnOnchangeinput($event)" id="reason_pause" name="reason_pause" ></ion-textarea>
       </ion-item>
       <div>
         <ion-button (click)="onLoadpausesubmit()" color="success">Submit</ion-button>
       </div>
     </div>
    <div *ngIf="showcancelpop == 1" class="cancel_div">
      <!-- <ion-checkbox></ion-checkbox>I agree to the terms and conditions -->
<p>We are sorry to see you cancel your subscription. We are constantly seeking to make improvements in our community and grow the community further. Please give us your feedback for why you are leaving and we will try and make improvements.</p>
      
      <ion-item class="reason_main" *ngFor="let item of cancel_reasons; index as i;" lines="none">
        <ion-checkbox value="{{i+1}}" (ionChange)="fnOnchangecheckbox($event)" id="reason{{i}}"></ion-checkbox>
        <ion-label class="reason_main_title">{{ item }}</ion-label>
    </ion-item>
    <ion-label class="title">Other(please specify in the text box)</ion-label>
    <ion-item lines="none">
      <ion-input type="text" placeholder="" (ionChange)="fnOnchangeinput($event)" id="other_reason" name="other_reason" ></ion-input>
    </ion-item>
    <ion-label class="title"><b>Please provide your thoughts and feedback - both positive and negative. Thank you!  </b>  </ion-label>
    <ion-item lines="none">
      <ion-textarea type="text" placeholder="" (ionChange)="fnOnchangeinput($event)" id="feedback" name="feedback" ></ion-textarea>
    </ion-item>
<div>
    <ion-button (click)="onLoadcansubmit()" color="success" disabled={{buttonDisabled}}>Submit</ion-button>
  </div>
    </div>
    <ion-col class="ion-text-wrap">
      <ion-button *ngIf="subsplan.subs_intervaltype != 'Monthly'" (click)="onLoadcontsubs(subsplan)" color="success">Continue Subscription</ion-button>
      <ion-button *ngIf="subsplan.subs_intervaltype == 'Monthly'" (click)="onLoadpausesubs(subsplan)" color="success">Pause Subscription</ion-button>
      <ion-button *ngIf="subsplan" (click)="onLoadcansubs(subsplan)">Cancel</ion-button>
    </ion-col>

    
    <!-- <p class="erros_reg" id="eentryLevel"></p>	
  <ion-label class="title">First Name</ion-label>
  <ion-item lines="none">
    <ion-input type="text" placeholder="Your First Name" (ionChange)="fnOnchangeinput($event)" id="firstname" name="firstname" ></ion-input>
  </ion-item> -->
    <!-- <ion-card>
      <ion-card-header>
      <ion-card-subtitle>{{i+1}}. {{item.disptext}}</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <p><b>Paid Amount: </b>£ {{item.paid_amount}} | <b>Payment Source: </b>£ {{item.payment_method}} | <b>Paid Date:</b> £ {{item.paiddate}}</p>
      </ion-card-content>
    </ion-card> -->
  </div>
  </div>   
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="btn">
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="gotorehis()">
          <ion-icon name="receipt-outline" ></ion-icon>
          <ion-label>History</ion-label>
        </ion-tab-button>    

          
        <ion-tab-button (click)="gotoresubs()">
          <ion-icon name="refresh-outline"></ion-icon>
          <ion-label>Renew</ion-label>
        </ion-tab-button>
       
        <ion-tab-button (click)="gotocansubs()" *ngIf="subsplan.subscription_status == 'ACTIVE' && subscription_menu_flag.pause_flag == 1">
          <ion-icon name="trash-bin-outline"></ion-icon>
          <ion-label>Cancel</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="goupgradesubs()" *ngIf="subsplan.subscription_status == 'ACTIVE' && subscription_menu_flag.upgrade_flag == 1">
          <ion-icon name="trending-up-outline"></ion-icon>
          <ion-label>Upgrade</ion-label>
        </ion-tab-button>
      
      </ion-tab-bar>
    </div>
  </ion-toolbar>
</ion-footer>
