<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">Delete Account</ion-title>
      </div>
      <div class="btn">  
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="maindiv" *ngIf="totdelrequestcount > 0">
      <p>You have submitted a delete account request on <strong>{{ deletereqpostdata.reqsubdate }}</strong>. Please find the details below </p>
      <p><strong>Reason:</strong> <br /> {{ deletereqpostdata.seltextoption }} </p>
      <p><strong>Other Reason:</strong> <br /> {{ deletereqpostdata.othersspecify }} </p>
      <p><strong>Status of Your Request:</strong> <br /> {{ deletereqpostdata.reqstatus }} </p>
      <p><strong>Contact Us:</strong> <br /> In case of if you have any queries please email us at <a href="emailto:info@tango-amistoso.co.uk">info@tango-amistoso.co.uk</a> </p>
      <div class="searcbtn">
        <ion-button (click)="onDelcancelrequest()" expand="block"> Cancel this Request</ion-button>       
      </div>
    </div>

  <div class="maindiv" *ngIf="totdelrequestcount==0">

  <ion-label class="title"><strong>What is the main reason you are deleting your acccount?</strong></ion-label>

  <ion-list>
    <ion-radio-group value="strawberries" [(ngModel)]="deletereqpostdata.selectionoption" (ionChange)="fnOnchangeinput($event)">
      <ion-item>
        <ion-label class="ion-text-wrap">I no longer need or want to use this account.</ion-label>
        <ion-radio slot="end" value="reason1"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label class="ion-text-wrap">I am unhappy with the service or features of this APP.</ion-label>
        <ion-radio slot="end" value="reason2"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">I am concerned about my privacy or security.</ion-label>
        <ion-radio slot="end" value="reason3"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap"> I have been harassed or bullied on this APP.</ion-label>
        <ion-radio slot="end" value="reason4"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap"> I am moving to a different APP.</ion-label>
        <ion-radio slot="end" value="reason5"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">I am taking a break from the internet.</ion-label>
        <ion-radio slot="end" value="reason6"></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

  <ion-label class="title"><strong>Other (please specify)</strong></ion-label>
  <ion-item>
    <ion-textarea placeholder="type here" id="reaothers" value="{{deletereqpostdata.othersspecify}}" (ionChange)="fnOnchangeinput($event)"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-checkbox slot="start"  [(ngModel)]="deletereqpostdata.agreetc" (ionChange)="fnOnchangeinput($event)"></ion-checkbox>
    <ion-label class="ion-text-wrap">Yes, I want to permanently delete this account and all its data</ion-label>
  </ion-item>
  <p class="erros_reg" id="error_form"></p>
<div class="searcbtn">
  <ion-button (click)="onDeleterequtest()" expand="block"> Delete</ion-button>
  <ion-button class="btncancel" (click)="onBack()" expand="block"> Cancel</ion-button>
</div>
</div>


</ion-content>
