<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">My Level</ion-title>
      </div>
      <div class="btn"> 
        <ion-buttons slot="start" (click)="gotonotifications()">
          <div class="carticon"><ion-icon name="notifications-outline" ></ion-icon> 
            <ion-badge color="danger" *ngIf="ncsCount">{{ncsCount}}</ion-badge>
          </div>
         </ion-buttons> 
        <ion-buttons slot="start" (click)="gotocart()">
          <div class="carticon"><ion-icon name="cart" ></ion-icon> 
            <ion-badge color="danger" *ngIf="cartCount">{{cartCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<br>
  <ion-label class="title">To change your level, please send a request to the teachers by choosing your level.</ion-label>
  <ion-item lines="none">
    <ion-select placeholder="Select Level" (ionChange)="fnOnchangeinput($event)" id="ulevel" name="ulevel" [(ngModel)]="userdata.ulevel">
        <ion-select-option *ngFor="let levels of arrOurclasses" value="{{levels[0]}}"> 
          {{levels[1]}}
        </ion-select-option>
     </ion-select>
</ion-item>
<ion-button class="content_button" (click)="onSave()" expand="block">
  Submit
</ion-button>

</ion-content>

