<ion-content class="ion-padding">
  <div class="toppaddinghome">  
  <div class="bg_img">
    <div class="profile-picture">
      <img src="assets/images/logo-tango-amistoso-min.png">
    </div>    
  </div>
  <ion-label class="title">Email</ion-label>
  <ion-item lines="none">
    <ion-input type="text" id="uname" placeholder="Your Email Address" (ionChange)="onChangename($event)"></ion-input>
  </ion-item>
  <p class="erros_reg" id="euname"></p>		
  <ion-label class="title">Password</ion-label>
  <ion-item lines="none">
    <ion-input [type]="isTextFieldType ? 'text' : 'password'" id="upassword" placeholder="Password" (ionChange)="onChangename($event)"></ion-input>
        <button (click)="togglemyPasswordFieldType()" ion-buttonitem-right >
          <ion-icon [name]="isTextFieldType ? 'eye-off' : 'eye'">
          </ion-icon>
        </button>  
  </ion-item>
  <p class="erros_reg" id="eupassword"></p>
  <ion-button (click)="onLogin()" expand="block" shape="round" class="contentbtn">
    Login 
  </ion-button>
  <p class="erros_reg" id="errormsg"></p>		
  <div class="btn">
    <ion-buttons>
      <ion-button (click)="onForgot()">
        Forgot Password?
      </ion-button> | 
      <ion-button (click)="onSignUp()">
        Signup
      </ion-button>
    </ion-buttons>
  </div>
  
</div>
</ion-content>

