<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <div class="image_div" *ngIf="islogged==true">
          <ion-menu-toggle auto-hide="false">
            <img src="{{appLogoPath}}"  (click)="goToHome()"/>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="islogged==true" auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="true" (click)="goToHome()">
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="islogged==true" auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="true" (click)="togomyaccount()">
              <ion-icon slot="start" name="settings"></ion-icon>
              <ion-label>My Account</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="islogged==true" auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="true" (click)="togomyqr()">
              <ion-icon slot="start" name="qr-code-outline"></ion-icon>
              <ion-label>My QR</ion-label>
            </ion-item>
          </ion-menu-toggle>   
        
          <ion-menu-toggle *ngIf="islogged==false" auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="true" (click)="onlogin()">
              <ion-icon slot="start" name="settings"></ion-icon>
              <ion-label>Login </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle *ngIf="islogged==true" auto-hide="false">
            <ion-item routerDirection="root" lines="none" detail="false" (click)="onlogout()">
              <ion-icon slot="start" name="log-out-outline"></ion-icon>
              <ion-label>Logout </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </div>  
        <ion-list>

         
        </ion-list> 
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
