
<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">My Profile QR Code</ion-title>
      </div>
      <div class="btn"> 
        <ion-buttons slot="start" (click)="gotonotifications()">
          <div class="carticon"><ion-icon name="notifications-outline" ></ion-icon> 
            <ion-badge color="danger" *ngIf="ncsCount">{{ncsCount}}</ion-badge>
          </div>
         </ion-buttons> 
        <ion-buttons slot="start" (click)="gotocart()">
          <div class="carticon"><ion-icon name="cart" ></ion-icon> 
            <ion-badge color="danger" *ngIf="cartCount">{{cartCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main-content">
    <div class="profile">      
      <ion-label class="h5">{{ uData.uname }} (<span>{{ uData.urole }}</span>)</ion-label>  
      
    </div>

    <div class="qrcodeImage">
      <qrcode 
      [qrdata]="qrcodescancode"
      [width]="200"  
      [errorCorrectionLevel]="'M'"
      [cssClass]="'center'"
      [colorDark]="'#000000ff'"
      [colorLight]="'#ffffffff'"
      [elementType]="'canvas'"
      [imageSrc]="'./assets/images/QR_cimage.png'"
      
      ></qrcode>
    </div>    
    <ion-row>
      <ion-col size="4">   </ion-col> 
      <ion-col size="4">   
      <div class="main_div" (click)="scanCode()">
        <div class="sub_div">
          <ion-buttons>
            <ion-button color="success">
              <ion-icon name="scan"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-label>Scan QR Code</ion-label>
        </div>
      </div>
    </ion-col>   
  </ion-row>
      <div class="scandata" *ngIf="classlist">
 
        <ion-card *ngFor="let item of classlist">
          <ion-card-header>
            <ion-card-title>{{item.stdatetext}}</ion-card-title>
            <ion-card-subtitle>{{item.locationtext}}, Tutor(s): {{item.tutortext}}</ion-card-subtitle>
          </ion-card-header>  
         
          <ion-item>
            <ion-checkbox slot="start" (ionChange)="fnOnchangeinput($event,item.recid,item.id,'coursebooking')" [checked]="item.attendclass == '1'"></ion-checkbox>
            <ion-label>Attended this Class</ion-label>
          </ion-item>
        </ion-card>
      </div>
      
      <div class="scandata" *ngIf="eventslist">
        <ion-card *ngFor="let item of eventslist">
          <ion-card-header>
            <ion-card-title>{{item.stdatetext}}</ion-card-title>
            <ion-card-subtitle>{{item.locationtext}}, Tutor(s): {{item.tutortext}}</ion-card-subtitle>
          </ion-card-header>  
         
          <ion-item>
            <ion-checkbox slot="start" (ionChange)="fnOnchangeinput($event,item.recid,item.id,'eventbooking')" [checked]="item.attendclass == '1'"></ion-checkbox>
            <ion-label>Attended this Class</ion-label>
          </ion-item>
        </ion-card>
      </div>
    </div>


</ion-content>
