ion-header {
  ion-toolbar {
    --background: #f3f3f3; 

    .heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px;

      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        .bg_img {
          height: 80px;
          width: 110px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        ion-label {
          font-family: 'bold';
          margin-left: 10px;
        }
      }

      .btn {
        display: flex;
        flex-direction: row;
        align-items: center;

        ion-buttons {
          ion-button {
            border-radius: 100px;
            height: 35px;
            width: 35px;
            background: var(--ion-color-primary);

            ion-icon {
              color: white;
            }
          }

          .carticon {            
            ion-icon{
            border-radius: 100px;
            height: 30px;
            width: 30px;             
            color:var(--ion-color-primary);
            margin-right:3px;
            position: relative;
          }
          ion-badge{
            position: absolute;
             right: 6%; 
             top: -10px;
          }

        }
          ion-menu-button {
            border-radius: 100px;
            height: 35px;
            width: 35px;
            background: var(--ion-color-primary);
            color: white;            
          }
        }
      }
    }

    .searchbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--ion-color-primary) !important;
      color: #ffffff !important;

      ion-searchbar {
        padding: 0px;
        margin: 0px 10px;
      }
    }
  }
}

  .h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'bold';
    margin-bottom: 20px;
  }
  
  ion-item {
    --background: white;
    border-radius: 100px;
    border: 1px solid var(--ion-color-primary);
    margin: 10px 0px;
  }
  
  .remember {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    ion-checkbox {
      margin-right: 10px;
    }
  }
  
  .title {
    margin: 10px 0px 10px 20px;
  }

  .content_button {
    // margin-top: 20px;
  }
  
  .signup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  
    .heading {
      font-family: "bold";
    }
  
    .sub_heading {
      margin-top: 0px;
    }
  
    span {
      margin-left: 10px;
      color: var(--ion-color-primary);
    }
  }
  .erros_reg{
    color:#ff0000;
  }
  .main-content {
    // padding: 20px;
  
    .profile {
  
      .profile-item {
        text-align: center;
        display: flex;
        flex-direction: column;
      }
  
      .profile-picture {
        border: 3px solid white;
        padding: 3px;
        border-radius: 100%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        margin: 0 auto;
        width: 120px;
        height: 120px;
        overflow: hidden;
        box-shadow: 0px 0px 10px var(--box-shadow-color);
        --box-shadow-color: #d7d8da;
      }
    }
  
  
    .item_div {
      display: flex;
      padding: 14px 0px;
  
      ion-icon {
        color: gray;
        font-size: 24px;
      }
  
      ion-label {
        font-size: 16px;
        font-family: 'medium';
        width: 100%;
        padding-left: 14px;
      }
    }

    .item_div2 {
      display: flex;
      padding: 14px 0px;
  
      ion-icon {
        color: #ff0000;
        font-size: 24px;
      }
  
      ion-label {
        font-size: 16px;
        font-family: 'medium';
        width: 100%;
        padding-left: 14px;
        color: #ff0000;
      }
    }
  }
  .profile {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
  
    .bg_img {
      position: relative;
  
      ion-thumbnail {
        height: 100px;
        width: 100px;
        --border-radius: 50%;
        padding: 5px;
      }
  
      .icnbtn {
        position: absolute;
        bottom: 5px;
        right: 0px;
  
        ion-button {
          border-radius: 100px;
          height: 30px !important;
          width: 30px;
          background: var(--ion-color-primary);
  
          ion-icon {
            color: white;
          }
        }
      }
    }
  
    .text {
      width: 100%;
      margin: 20px 0px;
  
      ion-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--ion-color-primary);
        border-bottom: 1px solid var(--ion-color-primary);
  
        .line {
          border-left: 1px solid var(--ion-color-primary);
          border-right: 1px solid var(--ion-color-primary);
        }
  
        ion-col {
          .h6 {
            font-size: 20px;
            margin: 2px;
            color: var(--ion-color-dark);
          }
  
          ion-label {
            font-size: 13px;
            color: var(--ion-color-primary);
          }
        }
      }
    }
  }
  .btn {   
    justify-content: center;
    --color: var(--ion-color-primary);
  }
  ion-card-title{
    color: #c33131;
    font-size: 16px !important;
    padding-bottom: 10px;
  }
  ion-card-subtitle{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 0px;
  }
  ion-checkbox {
    --size: 25px;
    --checkbox-background-checked: #c33131;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #c33131;
  }

  .partners ion-item{
    border: none !important;
  }
  .matched_partners ion-item{
    border: none !important;
  }
  ion-card-header{
    padding-bottom: 0px !important;
    padding-top: 5px !important;
  }
  .pro ion-thumbnail {
    --size: 120px;
    margin-top: 5px;
  }
  ion-thumbnail {
   --border-radius: 14px;
  }
  // .view_btn{
  //   text-align: end;
  // }
  ion-card-header
  {
    ion-item{
      border-radius: 0% !important;
    }
  }
  ion-card img{
    border-radius: 15px !important;
    width: 100%;
    height: 180px;
  }
  .create_btn{
    float: right  !important;
  }
  .checkbox ion-item {
    border: none !important;
  }
  .checkbox{
    margin-top: 25px;
  }
  .sub_div{
    margin-left: 25px;
  }
  .key_concept{
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
  }
  .key_con_option{
    font-size: 18px;
    color: black;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .card_title{
    margin-bottom: 20px;
  }
  ion-label{
    line-height: 20px !important;
    white-space: unset !important;
    margin-left: 10px !important;
  }
  ion-card{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .level{
    font-weight: bold;
    font-size: 16px;
    margin-top: 22px;
    margin-right: 10px;
  }
  .filter_section{
    display: flex;
  }
.filter_section ion-item{
  border: 1px solid var(--ion-color-primary) !important;
}
.card_list{
  display: flex;
  justify-content: space-between;
}
.btn_list{
  display: flex;
  flex-direction: column;
}
.main_head{
  margin-top: 5px !important;
  float: left;
}