<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">Subscriptions</ion-title>
      </div>
      <div class="btn">  
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ittl2">
    <ion-label class="ttl1">Subscription</ion-label>
  </div>
<p><b>Beginners – Unlimited Classes Subscription</b> allows you to simply pay a fixed subscription amount per month and take unlimited number of Beginners classes in any of the locations. Simply buy the subscription below either for today or a future start date by clicking on the Join now button, turn up to any of the Beginners classes and show your subscription confirmation email. We have classes almost every day of the week across different locations.</p>

 <p><b> Beginners Intro Offer – Unlimited Classes Subscription </b>This offer is for new Beginners. You pay the discounted price for the first month after which the price changes to standard Beginners Unlimited Classes Subscription which is £59 per month.</p>

  <div class="location">
    <ion-item button detail="false" *ngFor="let item of arrSubscriptonlist" >
      <ion-label class="ion-text-wrap">
        <h2><strong>{{ item.item_name }}</strong></h2>
        <p>{{ item.item_desc }}</p>
        <ion-row>
          <ion-col class="ion-text-wrap">
            <strong>Price:</strong> &pound;{{ item.item_price }} {{ item.item_plan_disp_text }} 
          </ion-col>       
        </ion-row>   
        <ion-row>           
          <ion-col class="ion-text-wrap">
            <ion-button class="content_button" (click)="goToModel(item)">Subscribe</ion-button>
            </ion-col>
        </ion-row>            
      </ion-label>
    </ion-item>   
  </div>

</ion-content>
