<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <div class="logo">
        <div class="bg_img" [style.backgroundImage]='"url(\"" + appLogoPath + "\")"'></div>
      </div>

      <div class="btn">
        <ion-buttons slot="start" (click)="gotonotifications()">
          <div class="carticon"><ion-icon name="notifications-outline" ></ion-icon> 
            <ion-badge color="danger" *ngIf="ncsCount">{{ncsCount}}</ion-badge>
          </div>
         </ion-buttons>  
        <ion-buttons slot="start" (click)="gotocart()">
          <div class="carticon"><ion-icon name="cart" ></ion-icon> 
            <ion-badge color="danger" *ngIf="cartCount">{{cartCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Manage 5X5 Mapping</h2>
  <div class="main-content">
    <div class="pro">
      <ion-list>
          <!-- <ion-button class="content_button create_btn" *ngIf="resubs == 1" (click)="oncreatenew()" expand="block">
            Create New
          </ion-button> -->
          <!-- <ion-button class="content_button create_btn" *ngIf="part_section == 1" (click)="onback()" expand="block">
            Back
          </ion-button> -->
        <br>
      </ion-list>
      <div *ngIf="search_section == 1">
        <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

        <ion-card *ngFor="let item of arrUserlists; index as i;">
          <ion-card-header>
         
            <ion-card-title>{{item.email}}</ion-card-title>
            <!-- <ion-card-subtitle>{{item.experience}}</ion-card-subtitle> -->
          </ion-card-header>
        
        
          <ion-row>           
            <ion-col class="view_btn">
              <ion-button class="content_button" (click)="onView(item)">View Mapping</ion-button>
              <!-- <ion-button class="content_button" (click)="onEdit(item)">Edit</ion-button>
              <ion-button class="content_button" (click)="onremove(item)">Remove</ion-button> -->
              </ion-col>
          </ion-row>     
        </ion-card>
      </div>
      <div *ngIf="crud_section == 1">
        <ion-button class="content_button create_btn" *ngIf="part_section == 1" (click)="onback()" expand="block">
          Back
        </ion-button>
      <p class="erros_reg" id="euexperience"></p>
      <ion-label class="title">Title</ion-label>
      <ion-item lines="none">
        <ion-input type="text" value="{{userdata.title}}" placeholder="" (ionChange)="fnOnchangeinput($event)" id="title" name="title" ></ion-input>
      </ion-item>
      <p>Choose your key concepts and key options from the list below</p>
     <div class="checkbox" *ngFor="let item of arrkeyoptions; index as i;">
      <ion-item>
        <ion-checkbox [checked]="isChecked(item.id)" value="{{item.id}}" (ionChange)="fnOnchangecheckbox($event)" id="reason{{item.id}}"></ion-checkbox>
        <ion-label>{{ i+1 }}. {{item.name}}</ion-label>
      </ion-item>
      <div class="checkbox sub_div" *ngFor="let items of item.options; index as j;">
        <ion-item>
          <ion-checkbox [checked]="isCheckedoptions(items.id)" value="{{items.id}}" (ionChange)="fnOnchangecheckboxoptions($event)" id="reasonoptions{{items.id}}"></ion-checkbox>
          <ion-label>{{items.title}}</ion-label>
        </ion-item>
      </div>
    </div>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <ion-button class="content_button" (click)="onSave()" expand="block">
            Submit
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </div>
    </div>  
    <div class="partners" *ngIf="resubs == 1">
      <div>
        <ion-button class="content_button create_btn" (click)="onbacksearch()" expand="block">
          Back to search
        </ion-button>
      </div>
    <div class="bg_img"></div>
    <div>
    <h3>{{user_email}}</h3>
    </div>
  <div>
      <ion-card *ngFor="let item of arrUserpartners; index as i;">
        <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
        <!-- <ion-card-subtitle>{{item.experience}}</ion-card-subtitle> -->
        </ion-card-header>
        <ion-row>           
          <ion-col class="view_btn">
            <!-- <ion-button class="content_button" (click)="onView(item)">View</ion-button> -->
            <ion-button class="content_button" (click)="onEdit(item)">Edit</ion-button>
            <!-- <ion-button class="content_button" (click)="onremove(item)">Remove</ion-button> -->
            </ion-col>
        </ion-row>     
      </ion-card>
    </div>
    </div>
    <div class="matched_partners" *ngIf="viewconcept == 1">
      <ion-card *ngFor="let item of arrkeymappings; index as i;">
        <ion-card-header>
         
          <ion-card-title class="card_title">{{item.title}}</ion-card-title>
          <ion-card-subtitle></ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content *ngFor="let items of item.key_concept | keyvalue; index as j;">
          <p class="key_concept">{{j+1}}. {{items.value.name}}</p>
          <div *ngFor="let val of items.value.options | keyvalue">
            <p class="key_con_option">{{val.value.title}}</p>
          </div> 
        </ion-card-content>
      </ion-card>
  
      
    </div>  
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <!--<ion-toolbar>
    <div class="btn">
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="gotoprofile()">
          <ion-icon name="storefront" ></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>    
          
        <ion-tab-button (click)="gotopartner()" *ngIf="part_section == 1">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Partners</ion-label>
        </ion-tab-button>
       
        <ion-tab-button (click)="gotomatched()" *ngIf="part_section == 1">
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Matched Partners</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="togosubscriptions()">
          <ion-icon name="document-text"></ion-icon>
          <ion-label>Subscriptions</ion-label>
        </ion-tab-button> 
      
      </ion-tab-bar>
    </div>
  </ion-toolbar>-->
</ion-footer> 
