<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">Guest Pass</ion-title>
      </div>
      <div class="btn"> 
        <ion-buttons slot="start" (click)="gotonotifications()">
          <div class="carticon"><ion-icon name="notifications-outline" ></ion-icon> 
            <ion-badge color="danger" *ngIf="ncsCount">{{ncsCount}}</ion-badge>
          </div>
         </ion-buttons> 
        <ion-buttons slot="start" (click)="gotocart()">
          <div class="carticon"><ion-icon name="cart" ></ion-icon> 
            <ion-badge color="danger" *ngIf="cartCount">{{cartCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<br>
  <ion-label class="title">Please fill in the details below to invite a friend as a guest for Friday Free Days offer.</ion-label>
  <p>Your friend will receive an email with the instructions. They will have to download the Amo Tango App and use their QR code on the day at reception.  </p>
  
  <p class="erros_reg" id="eulastname"></p>	
  <ion-label class="title">Name</ion-label>
  <ion-item lines="none">
    <ion-input type="text" placeholder="Enter Guest Name" id="guest_name" value="{{userdata.guest_name}}" (ionChange)="fnOnchangeinput($event)"></ion-input>
  </ion-item>
 
  <p class="erros_reg" id="euemail"></p>
  <ion-label class="title">Email</ion-label>
  <ion-item lines="none">
    <ion-input type="text"  placeholder="Enter Guest Email Address" id="guest_email" value="{{userdata.guest_email}}" (ionChange)="fnOnchangeinput($event)" ></ion-input>
  </ion-item>
  <p class="erros_reg" id="euemail"></p>
  <ion-label class="title">Date</ion-label>
  <ion-item lines="none">
    <ion-select placeholder="Select Date" (ionChange)="fnOnchangeinput($event)" id="date" name="date" [(ngModel)]="userdata.date">
      
        <ion-select-option  *ngFor="let cData of arrOurclasses;index as i" value="{{cData}}">{{cData}}</ion-select-option> 
      
     </ion-select>
</ion-item>
<ion-button class="content_button" (click)="onSave()" expand="block">
  Submit
</ion-button>

</ion-content>

