<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">Tango Classes</ion-title>
      </div>
      <div class="btn">  
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ittl2">
    <ion-label class="ttl1">Book individual classes</ion-label>    
  </div>
  <br>

  <div class="location">
    <ion-item button detail="false" *ngFor="let item of arrClasslist" >
      <ion-label class="ion-text-wrap">
        <h2><strong>{{item.course_subject}} {{item.course_title}} at {{item.class_venue}}</strong></h2>
        <ion-row>
          <ion-col class="ion-text-wrap">
            <strong>Date & Time:</strong> {{item.class_day}}, {{item.class_date}} {{item.class_time}}
          </ion-col>       
        </ion-row>  
        <ion-row>
          <ion-col class="ion-text-wrap">
            <strong>Price: </strong> <ion-badge color="danger" [innerHTML]="partnerDetails.currency_symbol + item.class_price"></ion-badge>
          </ion-col>       
        </ion-row>   
        <ion-row>
          <ion-col class="ion-text-wrap">
            <strong>Class Duration:</strong> {{item.class_duration}} Minutes
          </ion-col>       
        </ion-row>        
        <ion-row>
          <ion-col class="ion-text-wrap">
            <strong>Tutors:</strong> {{item.class_tutors}}
          </ion-col>         
        </ion-row>
        
        <ion-row>
          <ion-col class="ion-text-wrap">
            <strong>Location:</strong> {{item.locdetailtext}}
          </ion-col>         
        </ion-row>
        <ion-row>           
          <ion-col class="ion-text-wrap">
            <ion-button class="content_button" (click)="classBooking(item)">Book Now</ion-button>
            </ion-col>
        </ion-row>     
       
      </ion-label>
      
    </ion-item>

   
  </div>

</ion-content>
