<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <div class="logo">
      <ion-title class="h5"><span>{{subscriptionData.firstname}} {{subscriptionData.lastname}}</span></ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="onClose()" color="dark">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="model_section">
          <div>
           <h5>Experience: </h5> <p>{{subscriptionData.experience}} years</p>
           <h5>Thoughts about Tango: </h5> <p>{{subscriptionData.thoughts}}</p>
           <h5>Ideal : </h5> <p>{{subscriptionData.ideal}}</p>
           <h5>Partnership Goals: </h5> <p>{{reasonData[subscriptionData.reason]}}</p><p>{{subscriptionData.reason_other}}</p>
          </div>
             
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="btn">
      <ion-button class="contentbtn" fill="outline" expand="block" (click)="onClose()">
        Close
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
