<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <div class="logo">
        <div class="bg_img" [style.backgroundImage]='"url(\"" + appLogoPath + "\")"'></div>        
      </div>

      <div class="btn">
        <ion-buttons slot="start" (click)="gotonotifications()">
          <div class="carticon"><ion-icon name="notifications-outline" ></ion-icon> 
            <ion-badge color="danger" *ngIf="ncsCount">{{ncsCount}}</ion-badge>
          </div>
         </ion-buttons>    
        <ion-buttons slot="start" (click)="gotocart()">
          <div class="carticon"><ion-icon name="cart" ></ion-icon> 
            <ion-badge color="danger" *ngIf="cartCount">{{cartCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
    <div class="ittl2_wkschedule">
      <ion-label class="ttl1">Weekly Schedule</ion-label>    
    </div>
    <ion-segment [(ngModel)]="selectedSegment">    
      <ion-segment-button value="classes">
        <ion-label>Classes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="courses">
        <ion-label>Courses</ion-label>
      </ion-segment-button>
      <ion-segment-button value="events">
        <ion-label>Upcoming Events</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"> 
  <div class="location"> 
    
    
    <div class="clsbookoptions" *ngIf="selectedSegment =='events'"> 

      <div class="clsbookoptions" *ngIf = "courseData.thisweekevents.length < 1">
        <div class="ittl2">
          <ion-label class="ttl1">Upcoming Events</ion-label>
        </div>
        <p>Sorry! We don't have any events scheduled at the moment</p>
        </div>
      
      <div class="clsbookoptions" *ngIf="courseData.thisweekevents.length > 0">
        <div class="ittl2">
          <ion-label class="ttl1">Upcoming Events</ion-label>
        </div>

        <ion-item button detail="false" *ngFor="let item of courseData.thisweekevents" >
          <ion-label class="ion-text-wrap">
            <h2><strong>{{item.etitle}} </strong></h2>  
            <ion-row>
              <ion-col class="ion-text-wrap">
                <strong>Date:</strong> {{item.edate}}
              </ion-col>       
            </ion-row> 
            <ion-row>
              <ion-col class="ion-text-wrap">
                <strong>Teahers:</strong> {{item.event_tearchers}}
              </ion-col>         
            </ion-row>  
            <ion-row>
              <ion-col class="ion-text-wrap">
                <strong>DJ:</strong> {{item.event_dj}}
              </ion-col>         
            </ion-row>                      
            <ion-row>           
              <ion-col class="ion-text-wrap">
                <ion-button class="content_button" (click)="fneventbooking(item)">Book Now</ion-button>
                </ion-col>
            </ion-row>  
          </ion-label>        
        </ion-item>

        </div>
        </div>


    
    <div class="clsbookoptions" *ngIf="selectedSegment =='classes'">   
      <div class="clsbookoptions" *ngIf = "courseData.classmsgflag == 1 && courseData.coursclases.length < 1 && courseData.nextweekclasses < 1">
        <div class="ittl2">
          <ion-label class="ttl1">Upcoming Classes </ion-label>
        </div>
        <p>Sorry! We don't have any classes / courses scheduled at the moment</p>
        </div>
    <div class="clsbookoptions" *ngIf = "courseData.coursclases.length > 0">
      <div class="ittl2">
        <ion-label class="ttl1">Upcoming Classes </ion-label>
      </div>
      <ion-item button detail="false" *ngFor="let item of courseData.coursclases" >
        <ion-label class="ion-text-wrap">
          <h2><strong>{{item.course_subject}} {{item.course_title}} at {{item.class_venue}}</strong></h2>
  
          <ion-badge color="success">{{ fnreturnbookingcategory(item.bookingcategory) }}</ion-badge>
          <ion-row *ngIf="item.bookingcategory != 'workshopbooking'">
            <ion-col class="ion-text-wrap">
              <strong>Date & Time:</strong> {{item.class_day}}, {{item.class_date}} {{item.class_time}}, {{item.class_duration}} Minutes
            </ion-col>       
          </ion-row> 
          
          <ion-row *ngIf="item.bookingcategory == 'workshopbooking'">
            <ion-col class="ion-text-wrap">
              <strong>Date & Time:</strong> {{item.class_day}}, {{item.class_date}} {{item.class_time}}
            </ion-col>       
          </ion-row> 
          <ion-row *ngIf="item.bookingcategory != 'workshopbooking'">
            <ion-col class="ion-text-wrap">
              <strong>Tutors:</strong> {{item.class_tutors}}
            </ion-col>         
          </ion-row> 
          <ion-row>
            <ion-col class="ion-text-wrap">
              <strong>Price: </strong> <ion-badge color="danger" [innerHTML]="partnerDetails.currency_symbol + item.class_price"></ion-badge>
            </ion-col>             
          </ion-row>    
            <ion-row *ngIf="item.additional_info">
            <ion-col class="ion-text-wrap">
               {{item.additional_info}}
            </ion-col>       
          </ion-row>        
          <ion-row>           
            <ion-col class="ion-text-wrap">
              <ion-button class="content_button" (click)="classBooking(item)">Book Now</ion-button>
              </ion-col>
          </ion-row>  
        </ion-label>        
      </ion-item>
    </div>

     <div class="clsbookoptions" *ngIf = "courseData.nextweekclasses.length > 0">
      <div class="ittl2">
        <ion-label class="ttl1">Upcoming Classes </ion-label>
      </div>
      <ion-item button detail="false" *ngFor="let item of courseData.nextweekclasses" >
        <ion-label class="ion-text-wrap">
          <h2><strong>{{item.course_subject}} {{item.course_title}} at {{item.class_venue}}</strong></h2>
  
          <ion-badge color="success">{{ fnreturnbookingcategory(item.bookingcategory) }}</ion-badge>
          <ion-row *ngIf="item.bookingcategory != 'workshopbooking'">
            <ion-col class="ion-text-wrap">
              <strong>Date & Time:</strong> {{item.class_day}}, {{item.class_date}} {{item.class_time}}, {{item.class_duration}} Minutes
            </ion-col>       
          </ion-row> 
          
          <ion-row *ngIf="item.bookingcategory == 'workshopbooking'">
            <ion-col class="ion-text-wrap">
              <strong>Date & Time:</strong> {{item.class_day}}, {{item.class_date}} {{item.class_time}}
            </ion-col>       
          </ion-row> 
          <ion-row *ngIf="item.bookingcategory != 'workshopbooking'">
            <ion-col class="ion-text-wrap">
              <strong>Tutors:</strong> {{item.class_tutors}}
            </ion-col>         
          </ion-row> 
          <ion-row>
            <ion-col class="ion-text-wrap">
              <strong>Price: </strong> <ion-badge color="danger" [innerHTML]="partnerDetails.currency_symbol + item.class_price"></ion-badge>
            </ion-col>             
          </ion-row>    
            <ion-row *ngIf="item.additional_info">
            <ion-col class="ion-text-wrap">
               {{item.additional_info}}
            </ion-col>       
          </ion-row>        
          <ion-row>           
            <ion-col class="ion-text-wrap">
              <ion-button class="content_button" (click)="classBooking(item)">Book Now</ion-button>
              </ion-col>
          </ion-row>  
        </ion-label>        
      </ion-item>
    </div>
   
   
  </div>


  <div class="clsbookoptions" *ngIf="selectedSegment =='courses'">
    <div class="clsbookoptions" *ngIf = "courseData.thisweekcoures.length < 1">
      <div class="ittl2">
        <ion-label class="ttl1">Upcoming Courses</ion-label>
      </div>
      <p>Sorry! We don't have any classes / courses scheduled at the moment</p>
      </div> 
    <div class="clsbookoptions" *ngIf = "courseData.thisweekcoures.length > 0">
      <div class="ittl2">
        <ion-label class="ttl1">Upcoming Courses</ion-label>
      </div>
      <ion-item button detail="false" *ngFor="let item of courseData.thisweekcoures" >
        <ion-label class="ion-text-wrap">
          <h2><strong>{{item.course_subject}} {{item.course_title}} at {{item.locdetailtext}}</strong></h2>        
          <ion-row >
            <ion-col class="ion-text-wrap">
              <strong>Date & Time:</strong> {{item.course_date}}, {{item.course_time}} 
                   </ion-col>       
          </ion-row>           
       
          <ion-row >
            <ion-col class="ion-text-wrap">
              <strong>Tutor(s):</strong> {{item.tutorstext}}
            </ion-col>         
          </ion-row> 
          <ion-row>
            <ion-col class="ion-text-wrap">
              <strong>Price: </strong> <ion-badge color="danger" [innerHTML]="partnerDetails.currency_symbol + item.class_price"></ion-badge>
            </ion-col>             
          </ion-row>           
          <ion-row>    
              <ion-row *ngIf="item.additional_info">
            <ion-col class="ion-text-wrap">
               {{item.additional_info}}
            </ion-col>       
          </ion-row>             
            <ion-col class="ion-text-wrap">
              <ion-button class="content_button" (click)="classBooking(item)">Book Now</ion-button>
              </ion-col>
          </ion-row>  
        </ion-label>        
      </ion-item>
      </div>
    </div>
    
  </div>

</ion-content>
<ion-footer >  
  <ion-toolbar>
    <ion-button class="footbtn" slot="start" size="default" (click)="gotohome()">Home</ion-button>
    <ion-button class="footbtngreen" slot="end" size="default" (click)="goToModel()"><ion-icon name="filter"></ion-icon>Filter</ion-button>
  </ion-toolbar>
</ion-footer>