ion-header {
    ion-toolbar {
      --background: #f3f3f3; 
  
      .heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
  
        .logo {
          display: flex;
          flex-direction: row;
          align-items: center;
  
          .bg_img {
            height: 80px;
            width: 110px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
          }
  
          ion-label {
            font-family: 'bold';
            margin-left: 10px;
          }
        }
  
        .btn {
          display: flex;
          flex-direction: row;
          align-items: center;
  
          ion-buttons {
            ion-button {
              border-radius: 100px;
              height: 35px;
              width: 35px;
              background: var(--ion-color-primary);
  
              ion-icon {
                color: white;
              }
            }
  
            .carticon {            
              ion-icon{
              border-radius: 100px;
              height: 30px;
              width: 30px;             
              color:var(--ion-color-primary);
              margin-right:3px;
              position: relative;
            }
            ion-badge{
              position: absolute;
               right: 6%; 
               top: -10px;
            }
  
          }
            
            ion-menu-button {
              border-radius: 100px;
              height: 35px;
              width: 35px;
              background: var(--ion-color-primary);
              color: white;            
            }
          }
        }
      }
  
      .searchbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--ion-color-primary) !important;
        color: #ffffff !important;
  
        ion-searchbar {
          padding: 0px;
          margin: 0px 10px;
        }
      }
      .ittl2_wkschedule{
        background-color: var(--ion-color-primary) !important;
        color: #ffffff !important;
        display: flex;       
        align-items: center;
        padding:5px;       
      }
    }
  }
  
  ion-slides {
    ion-slide {
      padding: 10px;
  
      .bg_img {
        height: 150px;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        display: flex;
        align-items: center;
  
        .text {
          display: flex;
          text-align: start;
          flex-direction: column;
          color: white;
          padding: 10px;
  
          .h4 {
            margin-left: 5px;
            font-family: 'regular';
          }
  
          .content_button {
            width: 100px;
            height: 30px;
            --border-radius: 100px;
          }
        }
      }
    }
  }
  
  .category_div {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
  
    .menu {
      width: 100%;
      display: flex;
      flex-direction: row;
  
      .item {
        padding: 6px 15px;
        margin: 5px;
        border-radius: 100px;
        border: 1px solid var(--ion-color-primary);
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        background: #f3f3f3;
  
        ion-label {
          margin-top: 2px;
          color: var(--ion-color-primary);
          font-size: 15px;
          padding-bottom: 3px;
        }
      }
    }
  }
  
  .sliders2 {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 10px 0px;
  
    .categoryIcon {
      margin: 0px 5px;
      border: 1px solid lightgray;
      border-radius: 10px;
  
      .imgs {
        height: 115px;
        width: 200px;
  
        .back_image {
          height: 115px;
          width: 200px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          background-position: top;
          display: flex;
          justify-content: flex-end;
  
          ion-chip {
            height: 20px;
            font-size: 10px;
          }
        }
      }
  
      .containt {
        padding: 0px 10px;
  
        .name {
          color: black;
          margin: 10px 0px;
          font-size: 14px;
          font-family: 'bold';
        }
  
        .concept {
          display: flex;
          flex-direction: row;
          align-items: center;
  
          ion-avatar {
            height: 20px;
            width: 20px;
            margin: 0px 5px 0px 10px;
          }
  
          ion-chip {
            height: 20px;
            font-size: 10px;
          }
  
          ion-label {
            font-size: 10px;
            color: var(--ion-color-medium);
          }
        }
  
        .address {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
  
          .icn {
            color: var(--ion-color-primary);
          }
  
          .kind {
            color: black;
            font-size: 12px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px 0px;
  
            ion-label {
              width: 120px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
  
            .icn {
              color: var(--ion-color-primary);
            }
          }
        }
      }
    }
  }
  
  .content3 {
    padding: 10px 0px;
  
  
    .bg_img {
      height: 250px;
      width: 100%;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px;
      display: flex;
      align-items: center;  
      margin-bottom: 10px; 
      border:1px solid #d6d6d6;
  
      .text {
        display: flex;
        text-align: start;
        font-weight: bold;
        flex-direction: column;
        color: #000000;
        padding: 10px;
        background-color: #f3f3f3;
        margin-top:150px;    
  
        .h4 {
          margin-left: 5px;
          font-family: 'regular';
        }
  
        .content_button {
          width: 100px;
          height: 30px;
          --border-radius: 100px;
        }
      }
    }
  
    .concept_div {
      width: 100%;
      margin: 10px 5px;
      border: 1px solid lightgray;
      border-radius: 10px;
  
      ion-row {
        ion-col {
          padding: 0px;
  
          .imgs {
            // border-radius: 10px;
            height: 115px;
            width: 200px;
  
            .back_image {
              height: 120px;
              width: 120px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
              background-position: top;
              display: flex;
              justify-content: flex-end;
  
              ion-chip {
                height: 20px;
                font-size: 10px;
              }
            }
          }
  
          .containt {
            padding: 0px 10px;
  
            .name {
              color: black;
              margin: 5px 0px;
              font-size: 14px;
              font-family: 'bold';
            }
  
            ion-chip {
              height: 20px;
              font-size: 10px;
              margin-bottom: 10px;
            }
  
            .concept {
              display: flex;
              flex-direction: row;
              align-items: center;
  
              ion-avatar {
                height: 20px;
                width: 20px;
                margin: 0px 5px 0px 0px;
              }
  
              ion-label {
                font-size: 10px;
                color: var(--ion-color-medium);
              }
            }
  
            .address {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
  
              .icn {
                color: var(--ion-color-primary);
              }
  
              .kind {
                color: black;
                font-size: 12px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 10px 0px;
  
                ion-label {
                  width: max-content;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }
  
                .icn {
                  color: var(--ion-color-primary);
                }
              }
            }
          }
        }
      }
  
    }
  }
  ion-footer{
    ion-toolbar{
      --background: #f3f3f3;
      ion-button{
        width: 100% !important;  
        margin:10px;   
      }
      margin:0px !important;   
      .footbtngreen{
        --background: #28c508 !important;
      }
    }
    .bgprice{
       background-color: #f3f3f3 !important;
       padding:5px !important; 
       
    }
    .pricetag {
        color: #000000;
      }
  }
  .location{
    padding-bottom:20px;
    ion-item:nth-child(1) {
      --background:#fdd6cd;
        margin-bottom: 5px;

        p {
          color: #000000 !important;
        }
    }  
    ion-item:nth-child(odd) {
      --background:#f3f3f3;
      margin-bottom: 5px;

      p {
        color: #000000 !important;
      }
    }
    ion-item:nth-child(even) {
      --background:#fdd6cd;
      margin-bottom: 5px;

      p {
        color: #000000 !important;
      }
    
    }
  }
  .ittl2{
    margin-bottom: 10px;
  }