
<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">Attendance QR Code</ion-title>
      </div>
      <div class="btn"> 
        <ion-buttons slot="start" (click)="gotonotifications()">
          <div class="carticon"><ion-icon name="notifications-outline" ></ion-icon> 
            <ion-badge color="danger" *ngIf="ncsCount">{{ncsCount}}</ion-badge>
          </div>
         </ion-buttons> 
        <ion-buttons slot="start" (click)="gotocart()">
          <div class="carticon"><ion-icon name="cart" ></ion-icon> 
            <ion-badge color="danger" *ngIf="cartCount">{{cartCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="main-content">
    <div class="profile">      
      <!-- <ion-label class="h5">{{ uData.uname }}</ion-label>   -->
      <span>Scan QR Code to Mark Attendance</span>    
    </div>

    <div class="qrcodeImage">
      <qrcode 
      [qrdata]="qrcodescancode"
      [width]="256"  
      [errorCorrectionLevel]="'M'"
      [cssClass]="'center'"
      [colorDark]="'#000000ff'"
      [colorLight]="'#ffffffff'"
      [elementType]="'canvas'"
      [imageSrc]="'./assets/images/QR_cimage.png'"
      
      ></qrcode>
    </div>    
    <div style="margin-top: 50px;">
     <p> Open the <b>Amo Tango app</b></p>
     <p> Tap the menu icon in the top right corner.</p>
     <p> Select <b>"My QR"</b> from the menu.</p>
     <!-- <p> Select <b>"Subscriptions"</b> from the my account menu.</p> -->
     <p> Locate the QR code scanner and tap it.</p>
    </div>

    </div>


</ion-content>
