ion-header {
  ion-toolbar {
    --background: #f3f3f3; 

    .heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 10px;

      .logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        .bg_img {
          height: 80px;
          width: 110px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        ion-label {
          font-family: 'bold';
          margin-left: 10px;
        }
      }

      .btn {
        display: flex;
        flex-direction: row;
        align-items: center;

        ion-buttons {
          ion-button {
            border-radius: 100px;
            height: 35px;
            width: 35px;
            background: var(--ion-color-primary);

            ion-icon {
              color: white;
            }
          }

          .carticon {            
            ion-icon{
            border-radius: 100px;
            height: 30px;
            width: 30px;             
            color:var(--ion-color-primary);
            margin-right:3px;
            position: relative;
          }
          ion-badge{
            position: absolute;
             right: 6%; 
             top: -10px;
          }

        }
          ion-menu-button {
            border-radius: 100px;
            height: 35px;
            width: 35px;
            background: var(--ion-color-primary);
            color: white;            
          }
        }
      }
    }

    .searchbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: var(--ion-color-primary) !important;
      color: #ffffff !important;

      ion-searchbar {
        padding: 0px;
        margin: 0px 10px;
      }
    }
  }
}
ion-card{
  background-color: #f3f3f3 !important;
  color: #000 !important;

  ion-card-title{
    color: #c33131 !important;
    font-weight: bold;
    font-size: 16px;
  }
  ion-card-subtitle{
    margin: 10px 0px;
    color: #000 !important;
    font-weight: bold;
    font-size: 12px;
  }
  ion-button{
    margin: 0px 15px 15px 15px;
  }

}

  .sub_div {
    display: flex;
    text-align: center;
    flex-direction: column;

    ion-buttons {
      --border-radius: 50%;

      ion-button {
        border-radius: 50%;
        height: 70px;
        width: 70px;
        margin-left: 10px;  
        ion-icon {
          font-size: 35px;
        }
      }
    }

    ion-label {
      margin: 5px;
      color: #000000;
    }
  }

  .content_button{
    margin: 15px 0px 0px 0px !important;
  }