<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <ion-buttons slot="start">
        <ion-button (click)="onBack()">
          <ion-icon name="chevron-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="logo">
        <ion-title class="h5">My Bookings</ion-title>
      </div>
      <div class="btn"> 
        <ion-buttons slot="start" (click)="gotonotifications()">
          <div class="carticon"><ion-icon name="notifications-outline" ></ion-icon> 
            <ion-badge color="danger" *ngIf="ncsCount">{{ncsCount}}</ion-badge>
          </div>
         </ion-buttons> 
        <ion-buttons slot="start" (click)="gotocart()">
          <div class="carticon"><ion-icon name="cart" ></ion-icon> 
            <ion-badge color="danger" *ngIf="cartCount">{{cartCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
<div *ngIf="arrOurclasses">
<div class="bg_img" *ngFor="let item of arrOurclasses; index as i;">
  <ion-card>
    <ion-card-header>
    <ion-card-subtitle>{{item.bookeditems}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div>
      <p>Total Amount: <b [innerHTML]="partnerDetails.currency_symbol + item.total_amount"></b> | Discount: <b [innerHTML]="partnerDetails.currency_symbol + item.discount_amount"></b> | Paid Amount: <b [innerHTML]="partnerDetails.currency_symbol + item.paid_amount"></b>
        Payment Source: <b>{{item.payment_source}}</b> | Booking Date: <b>{{item.dateofbooking}}</b></p>
      </div>
        <div class="qrcodeImage">
          <qrcode 
          [qrdata]='onatob(item.item_category + "_" + item.id)'
          [width]="100"  
          [errorCorrectionLevel]="'M'"
          [cssClass]="'center'"
          [colorDark]="'#000000ff'"
          [colorLight]="'#ffffffff'"
          [elementType]="'canvas'"
          [imageSrc]="'./assets/images/QR_cimage.png'"
          
          ></qrcode>
        </div>    
    </ion-card-content>
  </ion-card>
</div>
</div>   
</ion-content>

