<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>   
    <div class="heading">
      <div class="logo">
        <div class="bg_img" [style.backgroundImage]='"url(\"" + appLogoPath + "\")"'></div>
      </div>

      <div class="btn"> 
        <ion-buttons slot="start" (click)="gotonotifications()">
          <div class="carticon"><ion-icon name="notifications-outline" ></ion-icon> 
            <ion-badge color="danger" *ngIf="ncsCount">{{ncsCount}}</ion-badge>
          </div>
         </ion-buttons> 
        <ion-buttons slot="start" (click)="gotocart()">
          <div class="carticon"><ion-icon name="cart" ></ion-icon> 
            <ion-badge color="danger" *ngIf="cartCount">{{cartCount}}</ion-badge>
          </div>
         </ion-buttons>   
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
      </div>
    </div>   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="main_content" *ngIf="payConfirmData.cart_id != ''">
    <div class="scan_code">
      <ion-label class="h5">Order Summary</ion-label>
    <p>Your booking is complete ! Thank you for booking. Your booking ref number : {{payConfirmData.cart_id}}  You will receive the confirmation email soon</p>
    </div>      
    <p><strong>Booking Items:</strong></p>
    <ion-item lines="none" *ngFor="let item of payConfirmData.cartitems">     
      <div class="text">
        <ion-label class="h6">{{item.item_name}}</ion-label>
        <ion-label>Category: {{item.item_category}}</ion-label>        
        <ion-label class="review">Qty:: {{item.item_qty}}</ion-label>
      </div>
      <ion-button slot="end" shape="round" class="add" [innerHTML]="partnerDetails.currency_symbol + item.item_qty * item.item_price"></ion-button>
    </ion-item>
    <div class="hr"></div>
    <ion-item lines="none">
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>Total:</ion-label>
      <ion-button shape="round" class="add" slot="end" [innerHTML]="partnerDetails.currency_symbol + payConfirmData.grand_total">        
     
      </ion-button>      
    </ion-item>

  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>

    <div class="btn">

      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="gotohome()">
          <ion-icon name="storefront" ></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>     

        <ion-tab-button (click)="gotoourclasses()">
          <ion-icon name="document-text"></ion-icon>
          <ion-label>Our Classes</ion-label>
        </ion-tab-button>

        <ion-tab-button>
          <ion-icon name="calendar" (click)="togosubscriptions()"></ion-icon>
          <ion-label>Subscriptions</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="togomyaccount()">
          <ion-icon name="person"></ion-icon>
          <ion-label>My Account</ion-label>
        </ion-tab-button>

      </ion-tab-bar>

    </div>

  </ion-toolbar>
</ion-footer>

